@use '../abstract/variaveis';
@use '../abstract/mixins';

header {
    background: variaveis.$gradient-primario;
    padding: 2rem;
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
        .linha {
            border-top: 1px solid black;
            width: 80%;
        }
        ul {
            display: inline-flex;
            gap: 2rem;
            li {
                list-style-type: none;
            }
            a {
                text-decoration: none;
                @include mixins.ff-fs-cl(variaveis.$ft-texto, 1rem, variaveis.$cor-primaria);
                font-weight: 500;
            }
        }
    }
    #home {
        max-height: 1040px;
        @include mixins.margem-central(80%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .textos-home {
            max-width: 464px;
            h1 {
                font-size: 42px;
                color: variaveis.$cor-primaria;
                margin-bottom: 2rem;
                font-family: variaveis.$ft-titulo;
                span {
                    color: variaveis.$cor-secundaria;
                }
            }
            
            .btn-main {
                width: 280px;
                background-color: variaveis.$cor-secundaria;
                color: white;
                height: 66px;
                border: none;
                outline: none;
                font-size: 1.3rem;
                border-radius: 66px;
                font-family: variaveis.$ft-titulo;
            }
        }
        .img-home {
            max-width: 474px;
            img {
                width: 100%;
            }
        }
    }
}